header {
  background-color: #562b81;
  color: white;
  font-family: "Proza Libre", sans-serif;
}

main {
  background-color: #f0f0f0;
  font-family: "Open Sans", sans-serif;
  height: auto;
}

h2,
h1,
h3 {
  margin: 0 auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "Proza Libre", sans-serif;
}

img {
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

textarea,
input {
  width: 100%;
  margin-bottom: 2em;
  border: solid 1px #b6b6b6;
  border-radius: 4px;
}

input {
  height: 40px;
  font-family: "Open Sans", sans-serif;
}

textarea {
  font-family: "Open Sans", sans-serif;
}

button {
  border-radius: 4px;
  color: white;
  background-color: #562b81;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: medium;
}

h1 {
  display: inline-block;
}

.save {
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 50px;
  width: 75px;
  height: 35px;
}

textarea:focus {
  outline-color: #562b81;
}

input:focus {
  outline-color: #562b81;
}

button:hover {
  cursor: pointer;
}

/* second page */
.new-anchor {
  float: right;
  margin-top: 20px;
  padding: 2px;
  text-align: center;
  background-color: #562b81;
  width: 60px;
  height: 30px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
}

.no-entries {
  margin-top: 30px;
  text-align: center;
}

h3 {
  padding-top: 15px;
  padding-bottom: 0;
}

.no-entries-column {
  height: 700px;
}

.entry-row {
  margin-block-end: 30px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

p {
  margin-top: 30px;
}

.header {
  display: inline-block;
}

.entries-anchor {
  color: white;
  margin-left: 30px;
  text-decoration: none;
}
